---
import fetchApi from "../../lib/strapi";
import PrevNext from "../../components/PrevNext.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image, Picture } from "astro:assets";

export async function getStaticPaths() {
    const artists = await fetchApi({
        endpoint: "artists",
        wrappedByKey: "data",
        query: { populate: ["categories", "profile_photo", "stickers"] },
    });

    const paths = artists.map((artist, i) => ({
        params: { slug: artist.slug },
        props: {
            artist,
            prev: i > 0 ? artists[i - 1] : null,
            next: i < artists.length - 1 ? artists[i + 1] : null,
        },
    }));

    return paths;
}

const { artist, prev, next } = Astro.props;
---

<BaseLayout>
    <div class="artist_container">
        <div class="artist_container__left">
            <h2>{artist.name}</h2>
            <Image
                src={`${import.meta.env.STRAPI_URL}${artist.profile_photo.url}`}
                alt="sticker image"
                width="300"
                height="400"
                widths={[250, 350, 500, 750]}
                format="avif"
                sizes="(min-width: 2960px) calc(12.5vw - 118px), (min-width: 2600px) calc(5vw + 121px), (min-width: 2240px) calc(5.29vw + 131px), (min-width: 1900px) calc(5vw + 157px), (min-width: 1540px) calc(4.71vw + 180px), (min-width: 1160px) calc(3.33vw + 217px), (min-width: 1120px) calc(325vw - 3455px), (min-width: 760px) calc(3.53vw + 229px), (min-width: 540px) calc(42vw - 43px), calc(8.18vw + 225px)"
            />
            <div class="left__categories">
                {
                    artist.categories.map((category) => (
                        <a href={`/categories`}>
                            <p class="category_left_side__sticker">
                                {category.name}
                            </p>
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="artist_container__right">
            <p>{artist.description}</p>
            <div class="right__stickers">
                <p class="bold">Their stickers:</p>
                <div class="sticker__artists">
                    {
                        artist.stickers.map((sticker) => (
                            <a href={`/stickers/${sticker.slug}`}>
                                <p class="sticker__artists__name">
                                    {sticker.name}
                                </p>
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
    <PrevNext prev={prev} next={next} path="artists" />
</BaseLayout>

<style>
    h2 {
        font-size: 2rem;
        margin-block-end: 1rem;
    }

    .artist_container {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-inline: 4rem;
        background-color: #dca546;
        padding: 2rem;
        border-radius: 1rem;
        color: #f4e3cf;
    }

    .categories {
        font-size: 1.5rem;
    }

    .artist_container__right {
        justify-self: center;
        max-width: 20rem;
    }

    .artist_container__left {
        justify-self: center;
    }

    .category_left_side__sticker {
        color: #ffedcd;
        background-color: #673700a8;
        padding: 1rem;
        border-radius: 2rem;
        width: fit-content;
        height: fit-content;
        margin-inline-end: 1rem;
        margin-block-start: 1rem;
    }

    .sticker__artists__name {
        color: #dca546;
        background-color: #f4e3cf;
        padding: 1rem;
        border-radius: 2rem;
        width: fit-content;
        height: fit-content;
        margin: 1rem;
    }

    .sticker__artists {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-block-start: 2rem;
        flex-wrap: wrap;
    }

    .bold {
        font-weight: bold;
    }
    .right__stickers {
        padding-block-start: 1rem;
    }

    .left__categories {
        display: flex;
        flex-direction: row;
    }
</style>
