---
import fetchApi from "../../lib/strapi";
import { Image, Picture } from "astro:assets";

import PrevNext from "../../components/PrevNext.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const stickers = await fetchApi({
        endpoint: "stickers",
        wrappedByKey: "data",
        query: { populate: ["categories", "image", "artist"] },
    });

    const paths = stickers.map((sticker, i) => ({
        params: { slug: sticker.slug },
        props: {
            sticker,
            prev: i > 0 ? stickers[i - 1] : null,
            next: i < stickers.length - 1 ? stickers[i + 1] : null,
        },
    }));

    return paths;
}

const { sticker, prev, next } = Astro.props;
---

<BaseLayout>
    <div class="container_detail">
        <div>
            <h2>{sticker.name}</h2>
            <p>
                {
                    sticker.description
                        .map((paragraph) =>
                            paragraph.children
                                .map((child) => child.text)
                                .join(" "),
                        )
                        .join("")
                }
            </p>

            {
                sticker.categories && sticker.categories.length > 0 ? (
                    <ul class="categories_list">
                        {sticker.categories.map((category) => (
                            <li>
                                <a href={`/categories`}>
                                    <p class="categories">
                                        {category.name || "Unnamed category"}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                ) : (
                    <p class="categories">No categories assigned</p>
                )
            }
        </div>
        <div>
            <Image
                src={`${import.meta.env.STRAPI_URL}${sticker.image.url}`}
                alt="sticker image"
                width="300"
                height="400"
                widths={[250, 350, 500, 750]}
                format="avif"
                sizes="(min-width: 2960px) calc(12.5vw - 118px), (min-width: 2600px) calc(5vw + 121px), (min-width: 2240px) calc(5.29vw + 131px), (min-width: 1900px) calc(5vw + 157px), (min-width: 1540px) calc(4.71vw + 180px), (min-width: 1160px) calc(3.33vw + 217px), (min-width: 1120px) calc(325vw - 3455px), (min-width: 760px) calc(3.53vw + 229px), (min-width: 540px) calc(42vw - 43px), calc(8.18vw + 225px)"
            />
            <a href={`/artists/${sticker.artist.slug}`}>
                <p>by {sticker.artist.name}</p>
            </a>
        </div>
    </div>
    <PrevNext prev={prev} next={next} path="stickers" />
</BaseLayout>

<style>
    h2 {
        font-size: 2rem;
        margin-block-end: 1rem;
    }

    .categories {
        font-size: 1.5rem;
    }

    .categories_list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .container_detail {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
</style>
